* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: wheat;
}
.container {
    transition: 1s all ease;
    width: 20rem;
    height: 20rem;
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(2, 2, 2, 0.5);
    background-color: rgb(236, 236, 236);
    border-radius: 2rem;
}
.squares {
    transition: 1s width;
    transition: 1s height;
    transform: 1s border-radius;
    border: 1px solid;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#purple {
    background-color: purple;
}
#orange {
    background-color: orange;
}

.wrong {
    transition: none;

    box-shadow: 0px 0px 8px 1px red;
}
.right {
    transition: none;
    box-shadow: 0px 0px 8px 1px green;
}
.bad {
    transition: none;
    transition: 0.2s all;
    background-color: red;
}
button {
    transition: 1s all;
    width: 10rem;
    height: 4rem;
    border: 0;
    border-radius: 2rem 1rem;
    font-weight: bold;
    font-size: large;
    box-shadow: 1px 1px 9px 0px rgba(2, 2, 2, 0.5);
    background-color: white;
}

button:active {
    transition: 0.1s all;
    transform: scale(1.2);
}
button:hover {
    transition: 1s all;
    background-color: rgb(27, 207, 27);
}
h2{
    font-family: sans-serif;
    font-weight: bold;
}
#get{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p{
    transform: 1s all;
    font-size: large;
    font-weight: bold;
}
#high{
    transition: 1s all ;
    font-family: 'Courier New', Courier, monospace;
}


@media (max-width: 500px) {
    .container {
          
        width: 15rem;
        height: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button {

        width: 12rem;
    }
    .squares {
        width: 12rem;
        height: 10rem;
        border-radius: 1rem;
    }
    p{
        font-size: small;
    }
    #high{
        font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
    
    
}
@media (max-width: 300px) {
    .container {
          
        width: 10rem;

    }
    button {

        width: 8rem;
    }
    .squares {
        width: 8rem;

    }
}
    

